<h1>{{ material }}</h1>

<div class="ui raised column segment">
  <div class="ui three column stackable grid container">
  <br/>
    {% for beam in  result.get_beams_for_material(material) %}
      <div class="ui column segment">
        <div class="ui progress {{ beam.progress_bar_state() }}">
          <div class="bar"
               style="width: {{ beam.get_percentage() }}%;">
            <div class="progress">{{ beam.get_percentage() }}%</div>

          </div>
        </div>
        <div class="ui container">
          <div class="ui container">
            <div class="ui mini statistics">
              <div class="ui  statistic">
                <div class="label">
                  Beam Length&nbsp;
                </div>
                <div class="value">
                  {{ beam.length }}
                </div>

              </div>

              <div class="ui  statistic">
                <div class="label">
                  Waste&nbsp;
                </div>
                <div class="value">
                  {{ beam.waste }}
                </div>

              </div>
            </div>
            <div class="ui statistics">

              <div class="ui green  statistic">
                <div class="label">
                  Usage Length&nbsp;
                </div>
                <div class="value">
                  {{ beam.usage }}
                </div>

              </div>
              <div class="ui red statistic">
                <div class="label">
                  Qty&nbsp;
                </div>
                <div class="value">
                  {{ beam.qty }}
                </div>
              </div>
            </div>
          </div>

          <div class="ui container">
            {% for part in beam.parts %}
              {% include("BOM/_part_result.html") %}
            {% endfor %}
          </div>

        </div>
      </div>

    {% endfor %}
  <br/>
  </div>
</div>
