  <h1>{{ material }}</h1>

<div class="ui raised column segment">
  <div class="ui three column stackable grid container">
  <br>
    {% for beam in  result.get_beams_for_material(material) %}
      <div class="ui column segment">
        <div class="ui progress {{ beam.progress_bar_state() }}">
          <div class="bar"
               style="width: {{ beam.get_percentage() }}%;">
                      <div class="progress">{{ beam.get_percentage() }}%</div>

          </div>
        </div>
        <div class="">
        <div class="ui padded container">
          <strong>Beam Length: {{ beam.length }}, Waste: {{ beam.waste }}</strong>
        <br>
        </div>
          <div class="ui two column grid container">
          <br>
            {% for part in beam.parts %}
              {% include("BOM/_part_result.html") %}
            {% endfor %}
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
</div>