<div class="container ">
<div class="ui raised segment">
<h2>{{ material.size }}</h2>

		<div class="">
  <label class="" for="selectbasic">Preferred Length</label>
  <div class="">
    <select id="selectbasic" name="{{material.size}}-preferred" class="form-control">
      {% for size in material.lengths %}


      <option value="{{size.id}}">{{ size.length }}</option>

      {% endfor %}

    </select>
  </div>
</div>
	
<!-- Multiple Checkboxes -->
<div class="grouped fields">
  <label class="" for="{{material.name}}-checkboxes">Beam Lengths That Can Be Used</label>


	 {% for size in material.lengths %}


      <div class="field">
      <div class="ui toggle checkbox">
    <label for="{{material.size}}-{{ size.length }}">
      {{ size.length }}
    </label>


      <input name="{{material.size}}-checkboxes" id="{{material.size}}-{{ size.length }}" value="{{size.id}}" type="checkbox">
	</div>
      </div>

    {% endfor %}


  

</div>


</div>
</div>


