{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}

{{ super() }}

Manage BOM setup

{% endblock %}

{% block page_content %}

<h1>Manage BOM setup</h1>

<p>Materials that is required</p>

<form class="conatiner" method="POST">
	<div class="form-group row">
	{% for material in materials %}
	{% include 'BOM/_setup_material.html' %}
	{% endfor %}
</div>
<div class="form-group row">

  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save Material Setup</button>
  </div>
</div>

</form>



{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
