{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}

  {{ super() }}

  Manage BOM setup

{% endblock %}

{% block page_content %}

  <h1>Manage BOM setup</h1>

  <p>Materials that is required</p>

  <form class="ui form" method="POST">
    <div class="ui grid">
      {% for material in materials %}
        {% include 'BOM/_setup_material.html' %}
      {% endfor %}
    </div>
    <div><br></div>
    <div class="ui container">
      <button id="singlebutton" name="singlebutton" class="ui large primary button"><i class="save icon"></i> Save Material
        Setup
      </button>
    </div>

  </form>



{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
