{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% from "_formhelpers.html" import render_field %}

{% block title %}{{ super() }}form page{% endblock %}

{% block page_content %}
  <div class="ui two column grid">
    <form class="ui column form" method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ render_field(form.projects) }}
      {{ render_field(form.job_number) }}
      {{ render_field(form.comment) }}
      {{ render_field(form.file_name) }}
      <div class="field">
        {{ form.submit(class_="ui large positive button") }}
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}