<table id="project_table" class="ui table">
  <thead>
  <tr>
    <th class="collapsing">Job Number</th>
    <th>Project</th>
    <th>Client</th>
    <th>BOM's</th>
    <th  class="collapsing"></th>
  </tr>
  </thead>
  <tbody>
  {% for project in projects %}
    <tr>
      <td class="collapsing">{{ project.job_number }}</td>
      <td>{{ project.name }}</td>
      <td>{{ project.client }}</td>
      <td>{{ project.bom_count }}</td>
      <td class="collapsing"><a href="{{ url_for('project.view', asset=project.asset) }}"><i class="large violet eye
      icon"></i></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>