{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% from "_formhelpers.html" import render_field %}

{% block title %}

  {{ super() }}

  Add Project To BOM

{% endblock %}

{% block page_content %}

  <div class="ui segment">

  <h1 class="ui header">Add Project to BOM</h1>

  <form class="ui column form" method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ render_field(form.projects) }}
      <div class="field">
        {{ form.submit(class_="ui large positive button") }}
      </div>
    </form>


  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
