{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{super()}}Bar Spacer{% endblock %}

{% block page_content %}
<form  method="POST" enctype="multipart/form-data">
    {{ wtf.quick_form(form)  }}
</form>

{% if bar%}

	
<div >
	<hr>

<h1>Your results</h1>
	<p>
		Edge to center : <strong>{{ bar.real_edge_to_center }}</strong><br>
		Center to center : <strong>{{ bar.real_center_to_center }}</strong><br>
		Number of bars : <strong>{{ bar.real_No_bars }}</strong><br><br>
		Actual gap : <strong>{{ bar.real_gap_size }}</strong>
	</p>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
	
