{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% from "_formhelpers.html" import render_field %}

{% block title %}{{ super() }}Bar Spacer{% endblock %}

{% block page_content %}

  <div class="ui four wide centered segment">
    <form class="ui form column" method="post">
      <form class="ui form">
        {{ form.csrf_token }}
        <h4 class="ui dividing header">Calculate louver air flow</h4>
        <div class="two fields">

        {{ render_field(form.width, placeholder='Width of Louver in mm') }}
        {{ render_field(form.height, placeholder='Height of Louver in mm') }}


        </div>
      {{ form.submit(class="ui fluid green button") }}
      </form>

  <table class="ui center aligned orange table">
    <thead>
    <tr>
      <th>30% Mesh</th>
      <th>70% Mesh</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ mesh30 }}</td>
      <td>{{ mesh70 }}</td>
    </tr>
    </tbody>
  </table>

  </div>



{% endblock %}
{% block scripts %}
  {{ super() }}
{% endblock %}
	
