{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}

{{ super() }}

Dashboard

{% endblock %}

{% block page_content %}
<div class="ui container">
  <div class="ui raised segment">
  <div class="ui small header">Last Five Active Projects</div>
  {% include('project/_main_table.html') %}
  </div>

  <div class="ui raised segment">
  <div class="ui small header">BOM Results</div>
    {% include('BOM/_past_results_table.html') %}
    <div class="pagination">
       {{ macros.pagination_widget(pagination, '.dashboard') }}
    </div>
  </div>
{% endblock %}
</div>
{% block scripts %}
{{ super() }}
{% endblock %}
