{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}

{{ super() }}

Removing something

{% endblock %}

{% block page_content %}

<form class="ui raised segment" method="POST">
    <h1 class="header">{{ massage }}</h1>
<!-- Button (Double) -->
<div class="">
  <div class="">
    <button id="agree" name="agree" class="ui positive button">Yes, I understand</button>
    <button id="disagree" name="disagree" class="ui negative button">No, Cancel</button>
  </div>
    <p>This action can not be on done.</p>
</div>

</form>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
