
<div class="ui stacked container">
	<div class="row">
		<div class="span5">
            <table class="ui celled striped table">
                  <thead>
                  <tr>
                  	<th>Item No.</th>
                  	{% for t in length[0] %}
                      <th>{{ t['ITEM NO.'] }}</th>
                    {% endfor %}
                  </tr>
              </thead>   
              <tbody>
                <tr>
                	<td>Length</td>
					{% for i in length[0] %}
                	<td>{{ i['LENGTH'] }}</td>
                	{% endfor %}
                                                         
                </tr>          
                <tr>
                  <td>Approx Waste:</td>
                  <td>{{length[2]}}</td>
                </tr>

              </tbody>
            </table>
    <br>
            </div>
	</div>
</div>