{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{super()}}form page{% endblock %}

{% block page_content %}
<form class="ui form" method="POST" enctype="multipart/form-data">

      <div class="field">
        <label class="ui" for="name">{{ form.name.label }}</label>
        <div class="ui input">
          <label for="name">
            {{ form.name }}
          </label>
        </div>
      </div>
      <div class="field">
        <label class="ui" for="csv">{{ form.csv.label }}</label>
        <div class="ui input">
          <label for="csv">
            {{ form.csv }}
          </label>
        </div>
      </div>
      <div class="field">
        <label class="ui" for="saw">{{ form.saw.label }}</label>
        <div class="ui input">
          <label for="saw">
            {{ form.saw }}
          </label>
        </div>
      </div>
      <div class="field">
        {{ form.submit(class_="ui large positive button") }}
      </div>

</form>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
