
<p>Welcome to <b>Clue</b>!</p>
<p>You have been invited by {{ user.company.owner.username }} <{{ user.company.owner.email }}> to join.</p>
<p>To confirm your account please <a href="{{ url_for('auth.invited', token=token, _external=True, _scheme='https') }}">click here</a>
  .</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.invited', token=token, _external=True, _scheme='https') }}</p>
<p>Sincerely,</p>
<p>The Clue Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
