{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}

{{ super() }}

Material Library

{% endblock %}

{% block page_content %}

<div class="container">
		<form method="get">
			<table class="ui table">
				<thead>
					<tr>
						<th>Description</th>
						<th>Default</th>
						<th>Lengths</th>
            <th></th>
						

					</tr>
				</thead>
				<tbody>
					{% for unit in units %}
					<tr>
						<td>{{ unit.size }}</td>
						<td>{{ unit.default }}</td>
						<td>{% for length in unit.all_lengths %}
                        {{ length }},
                        {% endfor %}
                            </td>
					
						<td><button type="submit" class="ui positive button" formaction="{{ url_for('library.material_view', material_id=unit.id) }}"><i class="edit icon"></i> EDIT</button></td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
		</form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
