{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}

{{ super() }}

Add Material

{% endblock %}

{% block page_content %}

<form class="ui form segment" method="POST">
<h1>{{ material }}</h1>
<!-- Form Name -->
<h3>Select the class of material</h3>
  <div class="field">
    <select id="choice" name="choice">
      {% for choice in choices %}
      <option value="{{ choice['id'] }}"
      {% if choice['selected'] %}
          selected="selected"
      {% endif %}
      >{{ choice['description'] }}</option>
      {% endfor %}
    </select>
  </div>

<div class="field">

	<h3>Length</h3>
    <div class="column">
        <div class="field form-group form-group-options">
    		<div class="field input-group input-group-option">
          <div class="ui right icon input">
    			<input type="text" name="lengths" class="form-control" placeholder="Length">
    			<span class="input-group-addon input-group-addon-remove">
    				<i class="large circular inverted red close icon"></i>

    			</span>
          </div>
    		</div>
    	</div>
    </div>
</div>



<!-- Button -->
<div class="form-group">

  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="ui button primary">Save Material Lengths</button>
  </div>
</div>

</form>

{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
$(function(){

    $(document).on('focus', 'div.form-group-options div.input-group-option:last-child input', function(){

        var sInputGroupHtml = $(this).parent().html();
        var sInputGroupClasses = $(this).parent().attr('class');
        $(this).parent().parent().append('<div class="'+sInputGroupClasses+'">'+sInputGroupHtml+'</div>');

    });

    $(document).on('click', 'div.form-group-options .input-group-addon-remove', function(){

        $(this).parent().remove();

    });

});

    </script>
{% endblock %}
