{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}

  {{ super() }}

  Material View

{% endblock %}

{% block page_content %}

  <form class="ui form" method="post">
  {{ form.crsf_token }}
    <div class="field">
    <div class="ui header">Beam Lengths to Remove</div>
  {{ form.check|safe }}
      </div>

    <div class="field">
      <label class="ui" for="new-length">{{ form.add.label }}</label>
      <div class="ui input">


        <label for="new-length">
          {{ form.add }}
        </label>
      </div>

    </div>
<div class="field">
    <label class="ui" for="material">{{ form.choice.label }}</label>
      <div class="ui input">


        <label for="material">
          {{ form.choice() }}
        </label>
      </div>
</div>

    <div class="field">
    {{ form.submit(class_="ui large negative button") }}

</div>

  </form>

{% endblock %}

{% block scripts %}
  {{ super() }}

  <script type="application/javascript">

  SelectElement("choice", {{ choice }});

function SelectElement(id, valueToSelect)
{
    var element = document.getElementById(id);
    element.value = valueToSelect;
}
  </script>
{% endblock %}
