<html>
<head>

  <title>{% block title %}Clue - {% endblock %}</title>

{% block head %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
{% endblock %}

</head>
<body>

{% block navbar %}
  <div class="ui huge attached inverted stackable pointing menu">
  <div class="ui container">
        <a class="item" href="{{ url_for('main.index') }}">Clue</a>

          <a class="item" href="{{ url_for('user.dashboard') }}">Dashboard</a>
          <a class="item" href="{{ url_for('project.index') }}">Projects</a>
          <a class="item" href="{{ url_for('cutlist.bom_start') }}">Create Cut List</a>

          <a class="item" href="{{ url_for('BOM.BOM_upload') }}">Create BOM</a>

          <a class="item" href="{{ url_for('tools.bar_spacer') }}">Calculate Bar Spacing</a>
    <div class="ui dropdown item">
      &nbsp; Admin
      <i class="large dropdown icon"></i>

      <div class="menu">
        <a class="item" href="{{ url_for('library.material_library') }}">Material Library</a>
        <a class="item" href="{{ url_for('library.material_classes') }}">Material Classes</a>
      </div>

    </div>

</div>
  </div>
  <br>
{% endblock %}

<div class="ui container">

<div class="ui container">
{% block content %}
   <script type="application/javascript">

  </script>
    {% for message in get_flashed_messages() %}
      <div class="ui message transition">
        <i class="close icon"></i>
        {{ message }}
      </div>
    {% endfor %}
{% endblock %}
  </div>

    {% block page_content %}

{% endblock %}
  </div>

{% block scripts %}
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='semantic.min.js') }}"></script>
   <script type="application/javascript">
  $('.ui.checkbox').checkbox();

  $('.message .close').on('click', function() {
    $(this).closest('.message').transition('fade');
  });

  $('.ui.dropdown').dropdown();
  $('.menu .item').tab();
  </script>


{% endblock %}

</body>
</html>



