<div class="container">
  <section class="container">
      <h1 class="ui header">Version 2.3</h1>
      <ul>
        <li>UI framework changed platform</li>
        <li>Dashborad view updated</li>
        <li>Job number added to BOM reports</li>
        <li>Catalogues add to material types</li>
      </ul>
    </section>
  <section class="container">
    <h1 class="header">Version 2.2</h1>
    <ul>
      <li>API functions have been added</li>
      <li>Some small bug fixes</li>
      <li>Performance improvement given to the BOM calculator</li>
      <li>Major code base refactoring</li>
      <li>New test suit has been added</li>
    </ul>
  </section>

    <section class="container">
        <h1 class="header">Version 2.1</h1>
        <ul>
            <li>UI update on BOM results page</li>
            <li>Added feature to remove past BOM results or test runs</li>
            <li>Bug fix in BOM with symbols</li>
            <li>Bug fix for dividing by zero in BOM</li>
            <li>Header updated on cutting list results</li>
        </ul>
    </section>
    <section class="container">
        <h1 class="header">Version 2.0</h1>
        <ul>
            <li>Added dashboard</li>
            <li>Added material library</li>
            <li>Added Create BOM tool</li>
        </ul>
    </section>
    <section class="container">
        <h1 class="header">Past History</h1>
        <p>This included the first features and bug fixes</p>
    </section>

</div>
